{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h1> Calculator client </h1>
<p> Hello, this is a publisher client </p>

<form method="post">
    {% csrf_token %}
    <input type="number" name="num_1" placeholder="number">
    <select name="type_selector">
        <option value="addition">+</option>
        <option value="division">/</option>
        <option value="multiplication">*</option>
        <option value="substraction">-</option>
    </select>
    <input type="number" name="num_2" placeholder="number">
    <button type="submit" name="publish" value="publish">publish</button>
    <p>fill in the form data to perform the calculation</p>
</form>